<%- layout("layout/boilerplate") %>

<main class="container container-fluid">
	<% for(let order of allOrders){ %>
	<div class="border my-3">
		<% for(let items of order.items){ %>
		<div class="d-flex px-3">
			<div class="h-25 w-25">
				<img src="<%= items.item.image %> " alt="" class="h-50 w-50 img-thumbnail" />
			</div>
			<div class="d-flex flex-column">
				<div> <%= items.item.name %> </div>
				<div class="text-muted"><%= items.item.subTitle %></div>
				<div>Size: <%= items.size %> </div>
			</div>
		</div>
		<% } %>
		<div class="p-3"> Status: <%= order.orderStatus %> </div>
		<div class="m-3">
			<h4 class="border-bottom">Shipping Address: </h4>
		</div>
		<div class="m-3 d-flex w-25 justify-content-between">
			<div>
				<h5 class="fw-bold">Address: </h5>
				<% if(order.shippingAddress.address2){ %>
				<h5>&nbsp;</h5>
				<% } %>
				<h5 class="fw-bold">City: </h5>
				<h5 class="fw-bold">State:</h5>
				<h5 class="fw-bold">Zip Code:</h5>
			</div>
			<div>
				<h5><%= order.shippingAddress.address1 %></h5>
				<% if(order.shippingAddress.address2){ %>
				<h5><%= order.shippingAddress.address2 %> </h5>
				<% } %>
				<h5><%= order.shippingAddress.city %> </h5>
				<h5><%= order.shippingAddress.state %> </h5>
				<h5><%= order.shippingAddress.zipCode %> </h5>
			</div>
		</div>
		<div class="m-3">
			<h4 class="border-bottom">Customer Information: </h4>
		</div>
		<div class="m-3 d-flex w-25 justify-content-between">
			<div>
				<h5 class="fw-bold">Name: </h5>
				<h5 class="fw-bold">Phone Number: </h5>
				<h5 class="fw-bold">Email:</h5>
			</div>
			<div>
				<h5
					><%= order.user.firstName.toUpperCase() + " " + order.user.lastName.toUpperCase()
					%></h5
				>
				<h5><%= order.user.phone %> </h5>
				<h5><%= order.user.email %> </h5>
			</div>
		</div>
	</div>
	<% } %>
</main>

<%- include("../partials/cart") %>
