<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<style>
			.container {
				height: 100vh;
				width: auto;
				margin: 10px;
				display: block;
			}
			.header {
				background-color: rgba(222, 222, 222, 0.502);
				padding: 10px;
				border-radius: 12px;
			}
			.header-margin {
				margin-top: -20px;
			}
			.vh-30 {
				height: 30vh;
			}
			.items-wrapper {
				border: 1px solid rgba(99, 99, 99, 0.221);
			}
			.item-container {
				max-width: 90%;
			}
			.d-flex {
				display: flex;
			}
			.flex-row-center {
				display: flex;
				justify-content: center;
			}
			.flex-col-center {
				display: flex;
				justify-content: center;
				flex-direction: column;
			}
			.align-center {
				align-items: center;
			}
			.img {
				height: 75px;
				width: 75px;
				margin: 3px;
				margin-right: 20px;
			}
			.mt-40 {
				margin-top: 40px;
			}
			.mb-40 {
				margin-bottom: 40px;
			}
			.totals {
				display: flex;
				justify-content: space-around;
			}
			footer {
				background-color: rgba(222, 222, 222, 0.502);
				min-width: 100vw;
				margin: 0;
			}
		</style>
	</head>

	<body>
		<div style="height: 100vh;width: auto;margin: 10px;display: block;">
			<div style="background-color: rgba(222, 222, 222, 0.502);padding: 10px;border-radius: 12px; margin-top: -20px;">
				<h1>Thank you for placing your Order</h1>
			</div>
			<h2 style="margin-top: 40px;">Ship to: </h2>
			<div class="mb-40" style="margin-bottom: 40px;">
				<p><%= locals.address1 %></p>
				<% if(locals.address2 && locals.address2.length) {%>
				<p><%= locals.address2 %></p>
				<% } %>
				<p><%= locals.city %></p>
				<p><%= locals.state %></p>
				<p><%= locals.zipCode %></p>
			</div>
			<div>
				<h2>Order Details Below:</h2>
			</div>
			<div style="border: 1px solid rgba(99, 99, 99, 0.221);">
				<% for(let item of locals.items) {%> 
				<div style="max-width: 90%;display: flex;align-items: center;">
					<img
						src="<%= item.item.image %>"
						alt=""
						class="img"
					/>
					<div style="display: flex;justify-content: center;flex-direction: column;">
						<p><%= item.item.name %></p>
						<p><%= item.item.subtitle %></p>
						<p><%= item.item.price.toFixed(2) %></p>
					</div>
				<% } %> 
			</div>
			<div>
				<div style="display: flex;justify-content: space-around;margin-top: 40px;">
					<h5>Items Total: </h5>
					<h5><%= locals.itemsTotal %></h5>
				</div>
				<div style="display: flex;justify-content: space-around;">
					<h5>Tax Applied: </h5>
					<h5><%= locals.orderTax %> </h5>
				</div>
				<div style="display: flex;justify-content: space-around;">
					<h5>Shipping Cost: </h5>
					<h5><%= locals.shippingCost %></h5>
				</div>
				<div style="display: flex;justify-content: space-around;">
					<h3>Order Total: </h3>
					<h3><%= locals.orderTotal %> </h3>
				</div>
			</div>
			<footer>
				<a href="#">Go to Website</a>
			</footer>
		</div>
	</body>
</html>
